.chat
  .mainbarupbar
    .mainbarupbar__left
      .mainbarupbar__leftgroup
        = @group.name
      %ul.mainbarupbar__memberlist
        Menber:
        %li.mainbarupbar__name
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group) ,class: "mainbarupbar__editButton" do
      Edit

  .messagelist
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'form__input', placeholder: 'type a message'
        = f.label :image, class: 'form__image' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'from__hiden'
      = f.submit 'Send', class: 'form__submit'