.header
  .header__up
    %h3.header__up__name
      = current_user.name
    %ul.header__name__lists
      %li.list
      = link_to "#" do
        = icon('fas', 'edit my-example')
      %li.list
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog my-example')

  .header__groups
    .header__groups__group
      .group__name techcamp
      .group__massage まだメッセージはありません
    .header__groups__group
      .group__name techcamp2
      .group__massage まだメッセージはありません



